<div class="bg-[#2d2d2d] w-screen">
    <div class="grid gap-4">
        <div class=" mt-20 mb-20">
            <p class=" text-4xl font-bold text-center text-white">¿Necesitas licencias para tu empresa?</p>
            <div class="mt-6">
                <p class="text-xl text-white text-center max-w-2xl mx-auto">
                    Contamos con planes especiales para empresas con precios por volumen y soporte
                    prioritario. Contáctanos para una cotización personalizada.
                </p>
            </div>

            <div class="flex gap-6 justify-center mt-10">
                <button mat-raised-button class="mt-4">Comprar Ahora</button>
                <button mat-raised-button class="mt-4">Comprar Ahora</button>
            </div>

            <div class="flex gap-15 mt-12 justify-center">
                <div>
                    <p class="text-2xl font-bold text-center text-red-700">10K+</p>
                    <p class="text-base text-white">Clientes Satisfechos</p>
                </div>

                <div>
                    <p class="text-2xl font-bold text-center text-red-700">50K+</p>
                    <p class="text-base text-white">Licencias Vendidas</p>
                </div>

                <div>
                    <p class="text-2xl font-bold text-center text-red-700">99.9%</p>
                    <p class="text-base text-white">Tasa de Satisfacción</p>
                </div>

                <div>
                    <p class="text-2xl font-bold text-center text-red-700">24/7</p>
                    <p class="text-base text-white">Soporte Disponible</p>
                </div>
            </div>


        </div>
    </div>
</div>