<div>
    <mat-card class="w-85">
        <img src="/{{imageTittle()}}" />
        <mat-card-content>
            <div class="grid gap-3 mt-8 ml-2">
                <!-- Titulo producto -->
                <p class="font-medium text-xl">{{TituloProducto()}}</p>
                <!-- descripción producto -->
                <p>{{DescripcionProducto()}}</p>
                <!-- Precio producto -->
                <div class="flex gap-2">
                    <p class="font-bold text-2xl">{{PrecioProducto()}}</p> <!--Precio oferta--->
                    <p class="text-lg line-through text-gray-600">{{PrecioAnteriorProducto()}}</p> <!--Precio anterior--->
                </div>

                <!-- lista con iconos -->
                <div class="grid gap-3">
                    <div class="flex gap-2">
                        <ng-icon name="ionCheckmarkSharp" color="red" class="text-xl" />
                        <p>{{Caracteristica_1()}}</p>
                    </div>

                    <div class="flex gap-2">
                        <ng-icon name="ionCheckmarkSharp" color="red" class="text-xl" />
                        <p>{{Caracteristica_2()}}</p>
                    </div>

                    <div class="flex gap-2">
                        <ng-icon name="ionCheckmarkSharp" color="red" class="text-xl" />
                        <p>{{Caracteristica_3()}}</p>
                    </div>
                </div>
                
                <button mat-raised-button class="mt-4">Comprar Ahora</button>
            </div>
        </mat-card-content>
    </mat-card>
</div>