<div class="mb-22">
    <div class="grid justify-center m-20">
        <div class="flex gap-4 text-4xl font-bold text-center">
            <p>Nuestras</p>
            <P class="text-red-700">Licencias</P>
        </div>
        <p class="text-center text-base">Software original al mejor precio del mercado</p>
    </div>


    <div class="flex justify-center gap-20">
        <maincard imageTittle="eset.webp" TituloProducto="Windows 11 Pro"
            DescripcionProducto="Sistema operativo completo para profesionales" PrecioProducto="412"
            PrecioAnteriorProducto="212" Caracteristica_1="Licencia perpetua"
            Caracteristica_2="Actualizaciones incluidas" Caracteristica_3="Soporte BitLocker">
        </maincard>

        <maincard imageTittle="eset.webp" TituloProducto="Windows 11 Pro"
            DescripcionProducto="Sistema operativo completo para profesionales" PrecioProducto="412"
            PrecioAnteriorProducto="212" Caracteristica_1="Licencia perpetua"
            Caracteristica_2="Actualizaciones incluidas" Caracteristica_3="Soporte BitLocker">
        </maincard>

        <maincard imageTittle="eset.webp" TituloProducto="Windows 11 Pro"
            DescripcionProducto="Sistema operativo completo para profesionales" PrecioProducto="412"
            PrecioAnteriorProducto="212" Caracteristica_1="Licencia perpetua"
            Caracteristica_2="Actualizaciones incluidas" Caracteristica_3="Soporte BitLocker">
        </maincard>


        <maincard imageTittle="eset.webp" TituloProducto="Windows 11 Pro"
            DescripcionProducto="Sistema operativo completo para profesionales" PrecioProducto="412"
            PrecioAnteriorProducto="212" Caracteristica_1="Licencia perpetua"
            Caracteristica_2="Actualizaciones incluidas" Caracteristica_3="Soporte BitLocker">
        </maincard>
    </div>
</div>