<div class="flex justify-center h-auto  gap-70  mt-20 mb-23">
    <!-- div para logo y texto-->
    <div class="flex flex-col items-start gap-2">
        <img src="/loco.png" alt="Logo" class="w-40">
        <div class="w-60">
            <p class=" text-gray-700 font-sans">
                Tu proveedor de confianza para licencias de software originales.
                Más de 10 años en el mercado.
            </p>
        </div>
    </div>

    <!-- div para enlaces de productos-->

    <div>
        <h3 class="mb-3 text-base font-bold">Productos</h3>
        <div class="grid gap-3 text-gray-700">
            <a href='' class='hover:text-red-600'>Windows</a>
            <a href='' class='hover:text-red-600'>Microsoft Office</a>
            <a href='' class='hover:text-red-600'>Antivirus</a>
            <a href='' class='hover:text-red-600'>Servidores</a>
        </div>
    </div>

    <!-- div para enlaces de la pagina -->

    <div>
        <h3 class="mb-3 text-base font-bold">Empresa</h3>
        <div class="grid gap-3 text-gray-700">
            <a href='' class='hover:text-red-600'>Sobre Nosotros</a>
            <a href='' class='hover:text-red-600'>Política de Privacidad</a>
            <a href='' class='hover:text-red-600'>Términos y Condiciones</a>
            <a href='' class='hover:text-red-600'>Preguntas Frecuentes</a>
        </div>
    </div>

    <!-- div para medios de contacto-->
    <div>
        <h3 class="mb-3 text-base font-bold">Contacto</h3>
        <div class="grid gap-3 text-gray-700">
            <p>Sobre Nosotros</p>
            <p>Política de Privacidad</p>
            <p>Términos y Condiciones</p>
            <p>Preguntas Frecuentes</p>
        </div>
    </div>
</div>

<div class="mb-23 w-full flex flex-col items-center gap-2">
    <mat-divider class="w-3/4"></mat-divider>
    <p  class="text-center  text-gray-700">© 2026 Klicenzia. Todos los derechos reservados.</p>
</div>