<div class="flex items-center justify-center bg-[#fcfcef] h-20 gap-78 border-b-1">
    <!-- div para el icono y el texto de la marca -->
    <div>
        <img src="/loco.png" alt="Logo" class="w-40 mx-auto">
    </div>

    <!-- div para los elementos "botones" que redirigen a una pagina-->
    <div class="ml-30">
        <div class="flex text-base mt-2 gap-23 justify-center ">
            <a href='' class='hover:text-red-600'>Productos</a>
            <a href='' class='hover:text-red-600'>Empresas</a>
            <a href='' class='hover:text-red-600'>Soporte</a>
            <a href='' class='hover:text-red-600'>Contacto</a>

        </div>
    </div>

    <!-- div para el carrito y los botones de iniciar sesión y registrarse-->
    <div class="flex gap-5">
        <button matButton color="warn">Iniciar Sesión</button>
        <button mat-raised-button>Registrarse</button>
    </div>

</div>