<!-- Sección del hero de la bienvenida -->
<div class="mt-25 mb-25 flex flex-col items-center gap-12 ">
    <img src="/loco.png" alt="Logo" class="w-90 mx-auto">

    <div class="text-7xl font-bold text-center">
        <h1>Licencias de Software</h1>
        <h1 class="text-red-700">Originales y Seguras</h1>
    </div>

    <div class="text-center w-170 text-xl">
        <p class="text-gray-600">Obtén las licencias que necesitas para tu empresa o uso personal al mejor
            precio. 100% originales, activación inmediata y soporte garantizado.</p>
    </div>

    <div>
        <button mat-raised-button>Ver Licencias</button>
        <button matButton color="warn">Contactar Ventas</button>
    </div>


    <div class="flex gap-34">
        <div class="flex gap-4">
            <div class="bg-red-200  h-12 w-12 content-center text-center rounded-full">
                <ng-icon name="ionShieldOutline" color="red" class="text-3xl" />
            </div>
            <div>
                <p class="text-base font-bold">100% Originales</p>
                <p class="text-base  text-gray-700">Licencias verificadas</p>
            </div>
        </div>

        <div class="flex gap-4">
            <div class="bg-red-200 h-12 w-12 content-center text-center rounded-full">
                <ng-icon name="ionFlashOutline" color="red" class="text-3xl" />
            </div>
            <div>
                <p class="text-base font-bold">Entrega Inmediata</p>
                <p class="text-base  text-gray-700">Activa en minutos</p>
            </div>
        </div>

        <div class="flex gap-4">
            <div class="bg-red-200 h-12 w-12 content-center text-center rounded-full">
                <ng-icon name="ionTrophyOutline" color="red" class="text-3xl" />
            </div>
            <div>
                <p class="text-base font-bold">Soporte 24/7</p>
                <p class="text-base  text-gray-700 ">Asistencia garantizada</p>
            </div>
        </div>

    </div>
</div>